.title-danhmuc
{
    padding: 10px 25px;
    background: #0093dd;
    color: #fff;
}
.title-danhmuc h3
{
    text-transform: uppercase;
    font-size: 15px;
}
.title-danhmuc h3 i
{
    font-size: 18px;
}
#danhmuc-left
{
    width: 100%;
    float: left;
    padding: 0px 0px;
    background: #ece5e5;
}
#danhmuc-left a
{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
#danhmuc-left .list-danhmuc
{
    list-style: none;
    
}
#danhmuc-left .list-danhmuc i
{
    color: #ccc;
    margin: 0px 10px;
}
#danhmuc-left .list-danhmuc>li
{
    padding: 11px 15px;
    border-bottom: solid 1px #ccc;
    font-family: Roboto-Medium;
}
#danhmuc-left .list-danhmuc li ul
{
    list-style: none;
    padding: 0px 0px;
    
}
#danhmuc-left .list-danhmuc li ul li
{
    padding: 5px 0px;
    font-family: myFont;
}
#danhmuc-left .list-danhmuc li ul i
{
    width: 12px;
    text-align: center;
}
#danhmuc-left .list-danhmuc a:hover
{
    padding-left:5px ;
    transition: 0.5s;
    color: #e03637;
}
#danhmuc-left .list-danhmuc li:last-child
{
    border-bottom: none;
}
#danhmuc-left .actived
{
    color: red;
}
#danhmuc-left .show
{
    display: block;
}
#danhmuc-left .hide
{
    display: none;
}
.content-left
{
    margin-top: 20px;
}