::-webkit-scrollbar {background:#fff;width:10px;height:11px;}
::-webkit-scrollbar-thumb {background:#BBBBBB;}
*{margin: 0; padding: 0; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {min-width: 100% !important;}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
.video_popup {position: relative;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden;}
.video_popup iframe, .video_popup object, .video_popup embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#clickvideo{ width:100%; padding:4px 0; margin:3px 0%; border:1px solid #DDD; box-sizing:border-box;}
.addthis_native_toolbox{margin: 10px 0px;width: 100%;clear: both;border: 1px solid #ededed;padding: 10px 10px;margin-bottom: 10px;background: #f7f6f6;box-sizing: border-box;}
.addthis_native_toolbox b{float: left;font-size: 14px;text-transform: uppercase;margin-right: 10px}
#toptop {width: 37px; height: 37px;position: fixed;bottom: 30px; right: 20px;text-indent: -99999px;cursor: pointer;background: url(images/back_to_top.png) top center no-repeat;transition:0.5s;z-index:200;}
#toptop:hover{background: url(images/back_to_top.png) bottom center no-repeat;transition:0.5s;}
.clear{clear:both;}
img{max-width:100% !important; height:auto; }
div.bando img{max-width:none !important;}

body{
	font-family: myFont,Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.5;
    background:#fff;
}
@font-face {
    font-family: 'myFont';
    src: url('font/Montserrat-Regular.otf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('font/Roboto-Medium.ttf');
}

div#wapper
{ 
  margin:auto;
  max-width:1360px;
  background:#f5f5f5;
}
div#header
{
	position:relative;
	margin:auto;
}
div#header a.logo
{
	display:block;
	line-height:0;
}
div#header img.logo_mobi
{
	display:none;
}
div#header a.logo img
{
	width:100%;
}
div.header
{
	display:none;
}
div#wap_mocua
{
	height:40px;
	line-height:40px;
	color:#fff;
	background:#e03637;
}
div#mocua
{
	max-width:1200px;
	margin:auto;
}
div#nd_tknganhang
{
    border: 1px solid red;
    width: 36%;
    padding: 0px 2% 2% 2%;
    float:right;
}
div#mocua div.menu_head p.mocua_top
{
	float:left;
	padding-left:0px;
}
.menu_login
{
	list-style: none;
    float: right;
    padding-left: 22px;
    margin-top: 0px;
    margin-right: 40px;
}
.menu_login li
{
	display:inline-block;	
    font-size: 15px;
    font-weight: bold;
}
.menu_login li a
{
	text-decoration:none;
	color:#fff;
	padding:0px 5px;
}
.menu_login li a:hover
{
	color:#00E;
}
div#mocua div.menu_head
{
	
    width: 90%;
	margin:0px 5%;
    float:right;
    text-align: right;
}

div.gio_hang
{
	position: absolute;
    right: 60px;
    height: 25px;
    color: #fff;
    width: auto;
}
div.gio_hang a
{
    color: #e03637;
    font-size: 25px;
}
div.gio_hang a sup
{
    color: #e03637;
    font-size: 10px;
    background: #fff;
}

.full_content_w
{
    max-width: 1200px;
    margin:20px auto;
}
div#main_content
{
	max-width:1200px;
	margin:20px auto;
}
div#right
{
	width:75%;
	float:right;
    background: none;
    padding:0px 0px ;
    padding-left: 20px;
    
}
.content-right
{
    background: #fff!important;
     padding:0px 10px !important;
     width:74%!important;
    
}
div#left
{
    width:25%;
   float: left;
}
div.tieude_giua2
{
	text-align:center;
}
div.tieude_giua2 div
{
	display:inline-block;
	vertical-align:top;
	margin:auto;	
	padding:4px 20px;
	background:#e03637;
	color:#fff;
	text-transform:uppercase;
	font-size:17px;
	border-radius:0px 0px 10px 10px;
}
div.tieude_giua
{   
	color:#fff;
	font-size:15px;
	background:none;
	height:50px;
	line-height:50px;
	text-transform:uppercase;
    border-bottom: 1px solid #ccc;
}
div.tieude_giua div
{
    margin-top:10px;
	display:inline-block;
    color: #000;
    height: 50px;
    text-align: center;
    margin-left:0px !important ;
    left: 0px;
    padding: 0% 0px 0% 20px;
    line-height: 50px;
    margin-top: 0px;
}
div.tieude_giua a
{
    height: 50px;
	float:right;
	color:#000;
    text-transform:none;
	text-decoration:none;
	font-size:14px;
	margin-right:80px;
    padding: 0px 5px 0px 5px;
}
div.wap_item
{
	text-align:center;
	position:relative;
}
div#tintuc
{
    
}
div.new_list
{
    width:50%;
    float:left;
    margin-top: 20PX;
}
div.hotromuahang
{
    width:45%;
    float:right;
}
/* --------------------- Site map   ------------------*/
.site-maps
{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.site-maps ul
{
    list-style: none;
    padding: 5px 5px;
    
}
.site-maps ul a
{
    text-decoration: none;
    color: #fff;
    
}
.site-maps ul a:hover
{
    color: #e03637;
}
.site-maps ul li
{
    display: inline-block;
    color: #e03637;
    
}
.taifile 
{
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.taifile a
{
    text-decoration: none;
    color: #000;
}
.taifile a i , .taifile a:hover
{
    
    color: red;
}
.taifile span
{
    color: #ccc;
    font-style: italic;
}
/* --------------------- Phan trang ------------------*/
div#doitac
{
	box-sizing:border-box;
	max-width:1200px;
	margin:auto;
}
div#doitac a img
{
	height:100px;
	margin:0 5px;
	border:1px solid #DDD;
}
/*----------------------------------------------------*/
div.wap_pro
{
	margin:15px auto;
	clear:both;
}
.zoom_slick
{
	width:35%;
	float:left;	
	text-align:center;
}
.zoom_slick .slick2
{
	border:1px solid #DDD;
}

.zoom_slick .slick
{
	margin-top:5px;
}

.zoom_slick .slick img
{
	width:95%;
	margin:auto;
	border:1px solid #DDD;
	box-sizing:border-box;
	cursor:pointer;
}
.zoom_slick .slick img:hover
{
	border:1px solid #F60;
	opacity:0.5;
	transition:1s;
}

.product_info
{
	float:right;
	list-style:none;
	width:62%;
}
.product_info li
{
	font-size:13px;
	border-bottom:1px solid #EEE;
	padding:6px 0;
}
.product_info li.ten
{
	color:#0033FF;
	font-size:18px;
}
.product_info li.giacu
{
	font-size:15px;
	text-decoration:line-through;
}
.product_info li.gia
{
	color:red;
	font-size:16px;
}
.product_info li b
{
	font-weight:normal;
	font-size:14px;
}
.xemgiohang
{
	color: #E80019;
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    transition: 0.4s;
    margin: auto;
    margin-top: 7px;
}
.product_info li .dathang
{
	background: #e93b35;
    color: #fff;
    display: block;
    max-width: 300px;
    height: 30px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: 0.4s;
    float: left;
    margin-right:5px;
    margin-bottom: 5px;
}
div.tomtat
{
    width: 100%;
    height: 97%;
    margin: auto;
    color: #000;
    transition: height 500ms ease 0s;
    width: 100%;
    
}
div.vien
{
   width: 95%;
    height: 95%; 
    border: 1px dashed #fff;
    margin: auto;
    margin-top: 5px;
    border-radius:5px;
}
div.tomtat p
{
    text-align: left;
    margin-left: 20px;
    margin-top: 5%;
    

}
div.tomtat div h4
{
    padding: 5%;
}
button.dathang
{
     background-color: #e03637;
     border: none;
    color: white;
    padding:5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
button.dathangkm
{
     background-color: #e03637;
     border: none;
    color: white;
    padding:5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
a.lhmua
{
    background-color: #d25114;
    padding:5px 10px 5px 10px;
    text-decoration:none;
    color: #fff;
}
.product_info li .dathang i
{
	margin-right:10px;
	font-size:25px;
	margin-top:3px;
}
.product_info li .dathang:hover
{
	transition:0.4s;
	background:#E00;
}
span.size {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}
span.mausac {
    display: block;
    float: left;
    border: 1px solid #DDD;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 0;
}
span.active_size,span.size:hover,span.mausac:hover, span.active_mausac {
    border: 1px solid #EE0000;
}
input.soluong
{
	width: 50px;
	border: 1px solid #C7C6C6;
	height: 24px;
	text-align: center;
	font-size: 15px;
	margin-right:5px;
    height: 30px;
}
table#giohang input
{
	   margin:5px 0px;
}
table#giohang input.btn,.click_ajax
{   
 	background: #DC0018;
    color: #ffffff;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    margin: 5px 1px;
    border-radius: 3px;
}
  
table#tt td
{
	height:30px;
}
table#tt td input.t
{
	width:300px;
	height:20px;
	margin:3px 0px 5px 0px;
	border:1px solid #DDD;
}
table#tt td textarea
{
	width:300px;
}
table#tt span
{
	color:red;
}
div.td_ft
{
	text-transform:uppercase;
	color:#111111;
	margin-bottom:15px;
	font-size:15px;
}
div.item_ft
{
	width:24.5%;
	display:inline-block;
	vertical-align:top;
	padding-right:2%;
}
div.thongtin
{
	width:24.5%;
	display:inline-block;
	vertical-align:top;
	padding-right:2%;
}
div.item_ft ul
{
	list-style:none;
}
div.item_ft ul li a
{
	color: #676767;
    display: block;
    padding: 4px 0;
    text-decoration: none;
    font-size: 15px;
}
div.item_ft ul li a:hover
{
	color:#e03637;
}

@-webkit-keyframes star {
  0% {
    -webkit-transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0);
  }
}
@-o-keyframes star {
  0% {
    -o-transform: rotate(0) scale(0);
  }
  50% {
    -o-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -o-transform: rotate(360deg) scale(0);
  }
}
@-moz-keyframes star {
  0% {
    -moz-transform: rotate(0) scale(0);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(0);
  }
}
.start-animate {
		z-index: 99999999999999999 !important;
		position: absolute;
		animation: star linear 1.75s infinite;
		-moz-animation: star linear 1.75s infinite;
		-webkit-animation: star linear 1.75s infinite;
		-o-animation: star linear 1.75s infinite;
	}
@keyframes star {
  0% {
    transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@media screen and (max-width: 1024px) {
	div.menu
	{
		height:43px;
	}
	div.menu ul li a
	{
		padding:0px 20px;
	}	
}
@media screen and (max-width: 960px) {
	div.header
	{
		display:block;
	}
	nav#menu{display:none;}
	div#main_content
	{
		width:97%;
	}
	
	div#right
	{
		width:100%
  
	}
    div#wapper
    {
        padding: 0px 0px;
    }
    div#left
    {
        display: none;
    }
}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 700px) {
	div#main_footer {
    width: 100%;
    float: none;
	margin-top:10px;
}
	div#header a.logo
	{
		display:none;
	}
	div#header img.logo_mobi
	{
		display:block;
		margin:auto;
		width:100%;
	}
	div.tieude_giua
	{
		padding:7px;
		height:auto;
		line-height:1.5;
	}
	.zoom_slick
	{
		width:85%;
		max-width:400px;
		float:none;
		margin:auto;
	}
	.product_info
	{
		width:100%;
		margin-top:10px;
	}
    div#left, div#right ,  .content-right
    {
        width: 100%!important;
        display: block!important;
    }
    div#right
    {
        padding-left: 0px;
    } 
    
	
}
@media screen and (max-width: 460px) {
	
		
	div.frm_lienhe .item_lienhe input[type='text'], div.frm_lienhe .item_lienhe textarea, div.frm_lienhe .item_lienhe input[type='password']
	{
		width:100%;
	}
	div.frm_lienhe .item_lienhe select
	{
		width:100%;
	}
	.map_description
	{
		width:100%;
	}
	.box_news a img
	{
		width:110px;
	}
	div.frm_lienhe .item_lienhe p
	{
		width:100%;
	}
	.othernews ul.phantrang
	{
		margin-left:0px;
	}
	.box_news h3 a {
		font-size:14px;
	}
    
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}

